<h3 style="color: red;" >Please Select Shoes!</h3>
<a routerLink="/shop/new"><h4>Go to Add new Shoes</h4></a>
<ul class="list-group">
    <li class="list-group-item"style="border: 1px solid red;">
        <span class="help-block">1.Add new Shoes 
            Enter button Add new Shoes
        </span>
    </li>
</ul>
<ul class="list-group">
<li class="list-group-item"style="border: 1px solid red;">
    <span class="help-block">2.For Edit Shoed Go to Shoes Item enter drop down And Edit Shoes
        Enter
    </span>
</li>
</ul>

<ul class="list-group">
    <li class="list-group-item" style="background-color: red;">
        <span style="color: black;">3.Warning This A Testing Application!!!
        </span>
    </li>
    </ul>

