<div class="row">
    <div class="col-xs-12">
        <img [src]="shoes.img" alt="{{shoes.name}}" style="max-height: 100px; border-radius: 20px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{shoes.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button mat-raised-button color="primary">Manage Shoes <span class="caret"></span></button>
            <ul class="dropdown-menu" style="cursor: pointer;">
                <li><a  (click)="OnAddToShoppinList()">Add Shoes To Shopping-list</a></li>
                <li><a  (click)="Onedit()" >Edit</a></li>
                <li><a (click)="OnDelet()">Delete</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <span>{{shoes.description}}</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" style="border: 1px solid red;">
               This Shoes Price => <span class="price">${{shoes.price}}</span>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let brands of shoes.brandmodel">
               (Shoesbrand) {{brands.name}} | TotalAmount: {{brands.amount}} 

            </li>
        </ul>
       
        <mat-radio-group aria-label="Select an option"  *ngFor="let colors of color">
            <mat-radio-button  [value]="colors">{{colors}}</mat-radio-button>
            
          </mat-radio-group>
                <div class="button-group">
                    <button (click)="OnAddToShoppinList()" mat-raised-button color="primary">Add to Shop</button> |
                    <button (click)="OneditShoes()" mat-raised-button color="warn">Edit</button>
                </div>
            
    </div>
</div>