<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="Onsubmit(f)" #f="ngForm">
           <div class="row">
            <div class="col-sm-5 form-group">
                <label for="name">name:</label>
                <input type="text" id="name" class="form-control" name="name" ngModel required>
                <span class="help-block" *ngIf="!f.valid && f.touched">Please enter name: example Jordan</span>
            </div>
            <div class="col-sm-2 form-group">
                <label for="amount">amount:</label>
                <input type="number" id="amount"
                 class="form-control" name="amount"
                  ngModel required pattern="^[1-9]+[0+9]*$">
                <span class="help-block" *ngIf="!f.valid && f.touched">Please Enter</span>

            </div>
           </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{EditMode ? 'Update':'Add'}}</button> |
                    <button class="btn btn-primary" type="button" *ngIf="EditMode" (click)="OnDelete()">Delete</button> |
                    <button class="btn btn-danger" type="button" (click)="OnClear()">Cleare</button>
                </div>
            </div>
        </form>
    </div>
</div>